<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link href="/styles/output.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&family=Jaro&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include('partials/_header') %>

    <main>
      <!-- Hero -->
      <section class="hero">
        <div>
          <div class="img-section">
            <img src="/images/poster.png" alt="Hero image" />
          </div>

          <div class="text-section">
            <h1>Ge dina väggar en personlighet</h1>

            <p>
              Utforska vårt breda utbud av posters och prints som passar alla
              hem och stilar. Oavsett om du söker moderna motiv, klassiska
              konstverk eller inspirerande citat har vi något för dig. Kombinera
              dina favoriter och skapa en unik tavelvägg som lyfter hela rummet.
            </p>

            <button class="primary-button lg:self-start">
              Utforska våra posters
            </button>
          </div>
        </div>
      </section>

      <div class="flex flex-col gap-16 py-10">
        <section class="product-section">
          <h2>Nyheter</h2>
          <div class="product-grid">
            <% if (products.vinter && products.nyheter.length > 0) { %> <%
            products.nyheter.forEach(product => { %>
            <div class="produkt-card">
              <a href="/product-details/<%= product.id %>">
                <div class="product-grid-container">
                  <img
                    src="/images/poster-images/<%= product.image %>"
                    alt="<%= product.name %> produktbild"
                  />
                  <div class="icon-container">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-6 stroke-white"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
                      />
                    </svg>
                  </div>
                </div>
                <div class="product-information">
                  <%= product.name %>
                  <div class="text-sm"><%= product.price %> SEK</div>
                </div>
              </a>
            </div>
            <% }); %> <% } else { %>
            <p>Inga produkter i denna kategori just nu.</p>
            <% } %>
          </div>
          <button class="primary-button lg:self-center">
            <a href="/category/Nyheter">Se fler</a>
          </button>
        </section>

        <section class="product-section">
          <h2>Vinter</h2>
          <div class="product-grid">
            <% if (products.vinter && products.vinter.length > 0) { %> <%
            products.vinter.forEach(product => { %>
            <div class="produkt-card">
              <a href="/product-details/<%= product.id %>">
                <div class="product-grid-container">
                  <img
                    src="/images/poster-images/<%= product.image %>"
                    alt="<%= product.name %> produktbild"
                  />
                  <div class="icon-container">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-6 stroke-white"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
                      />
                    </svg>
                  </div>
                </div>
                <div class="product-information">
                  <%= product.name %>
                  <div class="text-sm"><%= product.price %> SEK</div>
                </div>
              </a>
            </div>
            <% }); %> <% } else { %>
            <p>Inga produkter i denna kategori just nu.</p>
            <% } %>
          </div>
          <button class="primary-button lg:self-center">
            <a href="/category/Vinter">Se fler</a>
          </button>
        </section>

        <section class="product-section">
          <h2>Landskap</h2>
          <div class="product-grid">
            <% if (products.vinter && products.landskap.length > 0) { %> <%
            products.landskap.forEach(product => { %>
            <div class="produkt-card">
              <a href="/product-details/<%= product.id %>">
                <div class="product-grid-container">
                  <img
                    src="/images/poster-images/<%= product.image %>"
                    alt="<%= product.name %> produktbild"
                  />
                  <div class="icon-container">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-6 stroke-white"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
                      />
                    </svg>
                  </div>
                </div>

                <div class="product-information">
                  <div class="name"><%= product.name %></div>
                  <div class="price"><%= product.price %> SEK</div>
                </div>
              </a>
            </div>
            <% }); %> <% } else { %>
            <p>Inga produkter i denna kategori just nu.</p>
            <% } %>
          </div>
          <button class="primary-button lg:self-center">
            <a href="/category/Landskap">Se fler</a>
          </button>
        </section>
      </div>
    </main>
      <div id="data-output">
        <!-- products -->
      </div>
      <!-- notification windows when you click on the basket 'Product.name has been added to your card!'-->
      <div class="fixed top-5 right-5 bg-black text-white p-4 rounded shadow-lg flex items-center gap-2 z-[1000] opacity-0 invisible transition-opacity duration-300" id="notification">
        <span id="notification-text"></span>
        <a href="/shoppingCart" id="view-cart" class="text-blue-500 no-underline hover:underline">View Cart</a>
        <button class="bg-none border-none text-white text-base cursor-pointer" id="close-notification">×</button>
      </div>
      <%- include('partials/_footer') %>
     <script src="/javascript/index.js"></script>
    </body>
    </html>