<!DOCTYPE html>
<html lang="sv">
  <head>
    <title><%= title %></title>
    <link href="/styles/output.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&family=Jaro&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('partials/_header') %>

    <main
      class="flex flex-col gap-10 w-full py-16 px-8 md:px-0 max-w-screen-2xl mx-auto md:items-center"
    >
      <h1><%= title %></h1>
      <section class="product-section">
        <div class="product-grid" id="wesh">
          <% if (products.length > 0) { %> <% products.forEach((product) => { %>
          <div class="product-card" data-id="<%= product.id %>">
            <div class="product-grid-container">
              <a href="/products/<%= product.slugs %>">
                <img
                  src="/<%= product.image %>"
                  alt="<%= product.name %> produktbild"
                  class="rounded-lg"
              /></a>
              <div class="icon-container icon-button">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="add-to-cart-btn size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
                  />
                </svg>
              </div>
            </div>
            <div class="product-information">
              <h2 class="nameF"><%= product.name %></h2>
              <p class="priceF"><%= product.price %> SEK</p>
            </div>
          </div>
          <% }); %> <% } else { %>
          <p class="text-center">Inga produkter hittades i denna kategori.</p>
          <% } %>
        </div>
      </section>
      <div
      class="fixed top-5 right-5 bg-black text-white p-4 rounded shadow-lg flex items-center gap-2 z-[1000] opacity-0 invisible transition-opacity duration-300"
      id="notification"
    >
      <span id="notification-text"></span>
      <a
        href="/shoppingCart"
        id="view-cart"
        class="text-blue-500 no-underline hover:underline"
        >Gå till varukorgen</a
      >
      <button
        class="bg-none border-none text-white text-base cursor-pointer"
        id="close-notification"
      ></button>
    </div>
    </main>

    <%- include('partials/_footer') %>
    <script>
        const userId = "<%= userId %>"; // Transmettez l'ID utilisateur depuis le backend
      if (userId) {
        console.log(`Utilisateur connecté : ID ${userId}`);
      } else {
        console.log("Aucun utilisateur connecté.");
      }
</script>
<script src="/javascript/product-list.js"></script>

  </body>
</html>
